{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript"
    }
  },
  "exclude": ".*\\.d\\.ts",
  "minify": false
}
